@model Assignment.Models.SanPham

@{
    ViewData["Title"] = "Details";
}


<div>
    <hr />
    @* <img src="@Html.DisplayFor(model => model.HinhAnh)" /> *@
    <dl class="row">
        <dt class="col-sm-2">
            Tên Sản Phẩm
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>
        <dt class="col-sm-2">
            Mô Tả
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class="col-sm-2">
            Giá
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gia)
        </dd>
        <dt class="col-sm-2">
            Số Lượng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class="col-sm-2">
            Loại
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdCategoryNavigation.TenCategory)
        </dd>
    </dl>
</div>
<br />
<div>
    <a asp-action="Index">Trở lại trang sản phẩm</a>
</div>